<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- Logo -->
          <a routerLink="/" class="logo" style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
            <img src="https://placehold.co/40x40?text=🈶&font=roboto" alt="Logo" style="width: 50px; height: 50px;" />
            <h4 class="">SEI<span>KI..</span></h4>
          </a>

          <!-- Menu -->
          <ul class="nav" [ngClass]="{ 'open': isMenuOpen }">
            <li><a href="#top" (click)="scrollToSection($event)">Trang chủ</a></li>
            <li><a href="#about" (click)="scrollToSection($event)">Về chúng tôi</a></li>
            <li><a href="#services" (click)="scrollToSection($event)">Quy trình</a></li>
            <li><a href="#portfolio" (click)="scrollToSection($event)">Đơn hàng</a></li>
            <li><a href="#blog" (click)="scrollToSection($event)">Danh sách đơn hàng</a></li>
            <li><a href="#contact" class="main-red-button" (click)="scrollToSection($event)"
                style="background-color: #fe3f40;">Liên hệ</a></li>
          </ul>

          <!-- Toggle button for mobile -->
          <a class="menu-trigger" [class.active]="isMenuOpen" (click)="toggleMenu()">
            <span>Menu</span>
          </a>

        </nav>
      </div>
    </div>
  </div>
</header>