<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h4 class="japanese-slogan" style="color: #3674B5;">あなたの夢、私たちの使命
                                <br> <span style="font-size: 15px; color: #578FCA;">Ước mơ của bạn là sớ mệnh của chúng
                                    tôi!</span>
                            </h4>
                            <h2>Tôi là <em>Bá Nhân</em> &amp; <span>Nhật</span> Bản</h2>
                            <p>Cảm ơn bạn vì đã chọn tôi cùng đồng hành đến <span>Nhật Bản</span><a rel="nofollow"
                                    href="src/https://templatemo.com/page/1" target="_parent">( Nhắn tin ngay )</a>.</p>
                            <form id="search" action="#" method="GET">
                                <fieldset>
                                    <input type="address" name="address" class="email"
                                        placeholder="Đăng ký thông tin..." autocomplete="on" required>
                                </fieldset>
                                <fieldset>
                                    <button type="submit" class="main-button">Đăng ký</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="/assets/images/banner-right-image.png" alt="team meeting">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>